/* Body */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font: 16px/1.15 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-y: scroll;
}

/* Global */
#logo{
    text-align: center;
}

#logo a{
    color: #182628;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

h1{
    text-align: center;
    margin-top: 0px;
}

header{
    background: #3B945E;
    color: #182628;
    height: 80px;
    border-bottom: #182628 8px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

.main{
    padding-top: 70px;
}

.container{
    width: 70%;
    margin: 20px auto;
    overflow: hidden;
}

.box{
    width: 70%;
    margin: auto;
    background-color: #57BA98;
    border: #3B945E solid 5px;
    border-radius: 20px;
    padding: 10px;
    display: table;
}

/* Homepage buttons */
.form{
    display: flex;
    justify-content: space-evenly;
}

.buttons{
    background-color: aquamarine;
    border: 2px solid ;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    font-size: 14px;
}

.buttons:hover{
    background-color: #3B945E;
}